*Credentials.json
*Configuration.json
*Config.json
.idea/
*.DS_Store
.env
test.py
*__pycache__
*venv
traindogcat
*TempData
ProjectDatasets
Datasets
/BenchKit.py
manage.py
Process.json
MainScript.py
Process0.json
requirements.txt
benchkit/train_script/train_script.py
Bench-My_Test_Project_2-V1-latest.tar
credentials.json
tartest.py
dependency.txt
test2.py
Benchkit 0.66 test 9
Benchkit 0.66 test 10
train_script.py